.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  border: dashed 2px black;
  border-radius: 15px;
}

.dropzone.active {
  background: lightgray;
}

.dropzone div {
  font-family: sans-serif;
  display: inline-block;
  margin: 10px;
}

.route, .trip {
  display: inline-flex;
  flex-direction: column;
}

.route .id, .trip .id {
  font-size: 70%;
  margin-bottom: 5px;
}

.not-specified {
  font-style: italic;
}

.color .box {
  display: inline-block;
  height: 0.7em;
  width: 0.7em;
  border: solid 1px black;
}

.sample {
  font-family: sans-serif;
  border-radius: 5px;
  padding: 5px;
}
